.card-form {
  width: 300px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-form > input {
  border: 1px solid lightgrey;
  margin: 5px;
  padding: 2px;
}

input.button {
  width: 75px;
  margin: 10px auto;
  border-radius: 3px;
}
